<div data-role="page">

  <div data-role="header" data-theme="b">
    <h1>Catalog Display</h1>
  </div><!-- /header -->

  <div data-role="content">

    <ul data-role="listview" data-inset="true" data-filter="true">
      <li><a href="#">Acura</a></li>
      <li><a href="#">Audi</a></li>
      <li><a href="#">BMW</a></li>
      <li><a href="#">Cadillac</a></li>
      <li><a href="#">Ferrari</a></li>
    </ul>

  </div><!-- /content -->

  <div data-role="footer" data-theme="b">
    <h4>Copyright by catalog display</h4>
  </div><!-- /footer -->

</div><!-- /page -->
