<div data-role="page" class="index-page">

  <div data-role="header">
    <h1>Mobile Web App Template</h1>
  </div><!-- /header -->

  <div data-role="content">

    <ul data-role="listview" data-inset="true">
      <li data-role="list-divider">Components</li>
      <li><a href="/pages-and-dialogs">Pages & dialogs</a></li>
      <li><a href="/toolbars">Toolbars</a></li>
      <li><a href="/buttons">Buttons</a></li>
    </ul>

  </div><!-- /content -->
  <!--
  <div data-role="footer">

  </div> --><!-- /footer -->

</div><!-- /page -->
